{% extends "layout.twig" %}

{% block content %}

<section class="default-page">

    <div class="title-bar">
        <div class="title-container">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
{#
	<!-- Zone Content -->
	<div class="zone-content">

		<div class="container">
			<!-- Main Widet Zone -->
	   		{{zone('main')|raw}}
		</div>

	</div>
	<!-- End Zone Content -->

    #}

    <div class="zone-content">

        <div class="container">
            <!-- Main Widet Zone -->
            <section id="page-zones__main" class="bk-zone column ">
            <div id="page-zones__main-widgets__responsivecolumns" data-name="responsivecolumns" class="widget  widget--zone-widget">

    <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">



                        <section id="page-zones__main-widgets__responsivecolumns-zones__column" class="bk-zone column columns-two-left">
            <div id="page-zones__main-widgets__responsivecolumns-zones__column-widgets__contactform" data-name="contactform" class="widget  widget--zone-widget">

    <div class="bk-contactform  contactform  widget__contactform">

        <form class="form  contactform__form">

                <fieldset class="fieldset  contactform__fieldset">

                        <legend class="legend  contactform__legend">Contact Us</legend>

                        <div class="form-body  contactform__form-body">

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--email  contactform__label" for="page-zones__main-widgets__responsivecolumns-zones__column-widgets__contactform__input--email">Your email</label>

                                        <input class="input  input--email  input--single-line  contactform__input js-email-input" id="page-zones__main-widgets__responsivecolumns-zones__column-widgets__contactform__input--email" name="page-zones__main-widgets__responsivecolumns-zones__column-widgets__contactform__input--email" placeholder="test@example.com" type="email">

                </div>

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--message  contactform__label" for="page-zones__main-widgets__responsivecolumns-zones__column-widgets__contactform__textarea--message">Message</label>

                                        <textarea class="textarea  textarea--message  contactform__textarea js-message-input" id="page-zones__main-widgets__responsivecolumns-zones__column-widgets__contactform__textarea--message" name="page-zones__main-widgets__responsivecolumns-zones__column-widgets__contactform__textarea--message"></textarea>

                </div>

                                <div class="form-group  contactform__form-group">

                                        <button class="button  button--submit  contactform__input  " type="submit">Send</button>
                </div>

            </div>

        </fieldset>

    </form>

</div>

</div>
    </section>
                <section id="page-zones__main-widgets__responsivecolumns-zones__column1" class="bk-zone column columns-two-right">
            <div id="page-zones__main-widgets__responsivecolumns-zones__column1-widgets__contactform" data-name="contactform" class="widget  widget--zone-widget">

    <div class="bk-contactform  contactform  widget__contactform">

        <form class="form  contactform__form">

                <fieldset class="fieldset  contactform__fieldset">

                        <legend class="legend  contactform__legend">Contact Us</legend>

                        <div class="form-body  contactform__form-body">

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--email  contactform__label" for="page-zones__main-widgets__responsivecolumns-zones__column1-widgets__contactform__input--email">Your email</label>

                                        <input class="input  input--email  input--single-line  contactform__input js-email-input" id="page-zones__main-widgets__responsivecolumns-zones__column1-widgets__contactform__input--email" name="page-zones__main-widgets__responsivecolumns-zones__column1-widgets__contactform__input--email" placeholder="test@example.com" type="email">

                </div>

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--message  contactform__label" for="page-zones__main-widgets__responsivecolumns-zones__column1-widgets__contactform__textarea--message">Message</label>

                                        <textarea class="textarea  textarea--message  contactform__textarea js-message-input" id="page-zones__main-widgets__responsivecolumns-zones__column1-widgets__contactform__textarea--message" name="page-zones__main-widgets__responsivecolumns-zones__column1-widgets__contactform__textarea--message"></textarea>

                </div>

                                <div class="form-group  contactform__form-group">

                                        <button class="button  button--submit  contactform__input  " type="submit">Send</button>
                </div>

            </div>

        </fieldset>

    </form>

</div>

</div>
    </section>

</div>
</div>
                <div id="page-zones__main-widgets__responsivecolumns1" data-name="responsivecolumns" class="widget  widget--zone-widget">

    <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">



                        <section id="page-zones__main-widgets__responsivecolumns1-zones__column" class="bk-zone column columns-three-left">
            <div id="page-zones__main-widgets__responsivecolumns1-zones__column-widgets__contactform" data-name="contactform" class="widget  widget--zone-widget">

    <div class="bk-contactform  contactform  widget__contactform">

        <form class="form  contactform__form">

                <fieldset class="fieldset  contactform__fieldset">

                        <legend class="legend  contactform__legend">Contact Us</legend>

                        <div class="form-body  contactform__form-body">

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--email  contactform__label" for="page-zones__main-widgets__responsivecolumns1-zones__column-widgets__contactform__input--email">Your email</label>

                                        <input class="input  input--email  input--single-line  contactform__input js-email-input" id="page-zones__main-widgets__responsivecolumns1-zones__column-widgets__contactform__input--email" name="page-zones__main-widgets__responsivecolumns1-zones__column-widgets__contactform__input--email" placeholder="test@example.com" type="email">

                </div>

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--message  contactform__label" for="page-zones__main-widgets__responsivecolumns1-zones__column-widgets__contactform__textarea--message">Message</label>

                                        <textarea class="textarea  textarea--message  contactform__textarea js-message-input" id="page-zones__main-widgets__responsivecolumns1-zones__column-widgets__contactform__textarea--message" name="page-zones__main-widgets__responsivecolumns1-zones__column-widgets__contactform__textarea--message"></textarea>

                </div>

                                <div class="form-group  contactform__form-group">

                                        <button class="button  button--submit  contactform__input  " type="submit">Send</button>
                </div>

            </div>

        </fieldset>

    </form>

</div>

</div>
    </section>
                <section id="page-zones__main-widgets__responsivecolumns1-zones__column1" class="bk-zone column columns-three-middle">
            <div id="page-zones__main-widgets__responsivecolumns1-zones__column1-widgets__contactform" data-name="contactform" class="widget  widget--zone-widget">

    <div class="bk-contactform  contactform  widget__contactform">

        <form class="form  contactform__form">

                <fieldset class="fieldset  contactform__fieldset">

                        <legend class="legend  contactform__legend">Contact Us</legend>

                        <div class="form-body  contactform__form-body">

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--email  contactform__label" for="page-zones__main-widgets__responsivecolumns1-zones__column1-widgets__contactform__input--email">Your email</label>

                                        <input class="input  input--email  input--single-line  contactform__input js-email-input" id="page-zones__main-widgets__responsivecolumns1-zones__column1-widgets__contactform__input--email" name="page-zones__main-widgets__responsivecolumns1-zones__column1-widgets__contactform__input--email" placeholder="test@example.com" type="email">

                </div>

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--message  contactform__label" for="page-zones__main-widgets__responsivecolumns1-zones__column1-widgets__contactform__textarea--message">Message</label>

                                        <textarea class="textarea  textarea--message  contactform__textarea js-message-input" id="page-zones__main-widgets__responsivecolumns1-zones__column1-widgets__contactform__textarea--message" name="page-zones__main-widgets__responsivecolumns1-zones__column1-widgets__contactform__textarea--message"></textarea>

                </div>

                                <div class="form-group  contactform__form-group">

                                        <button class="button  button--submit  contactform__input  " type="submit">Send</button>
                </div>

            </div>

        </fieldset>

    </form>

</div>

</div>
    </section>
                <section id="page-zones__main-widgets__responsivecolumns1-zones__column2" class="bk-zone column columns-three-right">
</section>

</div>
</div>
                <div id="page-zones__main-widgets__responsivecolumns2" data-name="responsivecolumns" class="widget  widget--zone-widget">

    <div class="bk-responsivecolumns  responsivecolumns  widget__responsivecolumns  js-responsivecolumns">



                        <section id="page-zones__main-widgets__responsivecolumns2-zones__column" class="bk-zone column columns-four-first">
            <div id="page-zones__main-widgets__responsivecolumns2-zones__column-widgets__contactform" data-name="contactform" class="widget  widget--zone-widget">

    <div class="bk-contactform  contactform  widget__contactform">

        <form class="form  contactform__form">

                <fieldset class="fieldset  contactform__fieldset">

                        <legend class="legend  contactform__legend">Contact Us</legend>

                        <div class="form-body  contactform__form-body">

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--email  contactform__label" for="page-zones__main-widgets__responsivecolumns2-zones__column-widgets__contactform__input--email">Your email</label>

                                        <input class="input  input--email  input--single-line  contactform__input js-email-input" id="page-zones__main-widgets__responsivecolumns2-zones__column-widgets__contactform__input--email" name="page-zones__main-widgets__responsivecolumns2-zones__column-widgets__contactform__input--email" placeholder="test@example.com" type="email">

                </div>

                                <div class="form-group  contactform__form-group">

                                        <label class="label  label--message  contactform__label" for="page-zones__main-widgets__responsivecolumns2-zones__column-widgets__contactform__textarea--message">Message</label>

                                        <textarea class="textarea  textarea--message  contactform__textarea js-message-input" id="page-zones__main-widgets__responsivecolumns2-zones__column-widgets__contactform__textarea--message" name="page-zones__main-widgets__responsivecolumns2-zones__column-widgets__contactform__textarea--message"></textarea>

                </div>

                                <div class="form-group  contactform__form-group">

                                        <button class="button  button--submit  contactform__input  " type="submit">Send</button>
                </div>

            </div>

        </fieldset>

    </form>

</div>

</div>
    </section>
                <section id="page-zones__main-widgets__responsivecolumns2-zones__column1" class="bk-zone column columns-four-second">
</section>
                <section id="page-zones__main-widgets__responsivecolumns2-zones__column2" class="bk-zone column columns-four-third">
</section>
                <section id="page-zones__main-widgets__responsivecolumns2-zones__column3" class="bk-zone column columns-four-fourth">
</section>

</div>
</div>
    </section>

        </div>

    </div>

</section>

{% endblock %}
