{% extends "layout.twig" %}

{% block content %}

<section class="default-page">

	<!-- Zone Content -->
	<div class="zone-content">

		<div class="container">
			<!-- Main Widet Zone -->
	   		{{zone('main')|raw}}	
		</div>

	</div>
	<!-- End Zone Content -->

</section>

{% endblock %}
