<!doctype html>

<html class="no-js" lang="{{ page.seoLang }}">

	{% include "includes/head.twig" %}

	<body class="{{ page.backgroundClass }}">

		<div class="page-content">
			<div class="block-content">
			{% include "includes/header.twig" %}
				{% block content %}
				{% endblock %}
			</div>
			{% include "includes/footer.twig" %}
		</div>

	    {% include basekit.bodyScript %}

	<script src="{{ asset('js/navigation.js')}}"></script>
	<script src="{{ asset('js/custom.js')}}"></script>

	</body>

</html>
