// -----------------------------------------
// Facet Theme: CSS > Widgets > Company Name
// -----------------------------------------


.company-link {
    margin: 0 13px;
    &:hover {
        text-decoration: none;
    }
    @media @bp-global-medium {
        display: inline-block;
        vertical-align: middle;
    }
    @media @bp-global-small {
        font-size: (@font-swatch10-font-size * 0.8);
    }
}